@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
    overflow-y: scroll;
    font-style: normal;
  }

  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
  }

  .clip-0-50 {
    clip: rect(
      0px,
      44px,
      44px,
      22px
    ); /* Adjusted for w-11 h-11 (44px x 44px) */
  }

  .clip-50-100 {
    clip: rect(0px, 22px, 44px, 0px); /* Adjusted for w-11 h-11 (44px x 44px) */
  }

  .right-clip {
    clip: rect(0px, 22px, 44px, 0px); /* Adjusted for w-11 h-11 (44px x 44px) */
  }

  .left-clip {
    clip: rect(0px, 44px, 44px, 22px);
  }
}
